In [1]:
!git clone https://github.com/vianhandika/ABD_Project.git

Cloning into 'ABD_Project'...
remote: Enumerating objects: 72, done.
remote: Counting objects: 100% (72/72), done.
remote: Compressing objects: 100% (65/65), done.
remote: Total 72 (delta 9), reused 63 (delta 5), pack-reused 0
Unpacking objects: 100% (72/72), done.

In [2]:
cd ABD_Project

/content/ABD_Project

In [58]:
# !pip install pyspark
from pyspark.sql import *
import pandas as pd
import pyspark.sql.functions as Func
spark = SparkSession \
    .builder \
    .appName("sparksql") \
    .getOrCreate()

In [11]:
data_pd = pd.read_csv('Dataset/patients_preprocessing.csv')
data_pd

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,CONDITION_HISTORY
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,NaN,...,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,3.932793e+09,19355760.0,"['Chronic sinusitis (disorder)', 'Viral sinusi..."
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,NaN,...,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,1.151222e+10,46465105.0,['Acute bronchitis (disorder)']
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,NaN,...,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,8.324623e+09,37792800.0,"['Acute bronchitis (disorder)', 'Viral sinusit..."
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,NaN,...,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,1.356664e+10,126964755.0,"['Viral sinusitis (disorder)', 'Acute viral ph..."
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,8.682065e+09,54696900.0,"['Acute viral pharyngitis (disorder)', 'Acute ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1166,023a7d29-32b3-4db5-89c8-b88bd7582ec0,1922-02-14,NaN,999-60-9291,S99949872,X45944669X,Mrs.,Conchita9,Peres371,NaN,...,365 Gorczany Crossing Apt 64,Cambridge,Massachusetts,Middlesex County,2141.0,42.413390,-71.102083,2.352357e+10,465251495.0,"['Prediabetes', 'Anemia (disorder)', 'Hyperlip..."
1167,1fc8dafd-90e5-44d6-9179-81156c0ea083,1977-08-08,NaN,999-29-3501,S99999143,X43299813X,Mr.,Laverne101,Hane680,NaN,...,177 Volkman Heights Suite 94,Beverly,Massachusetts,Essex County,1915.0,42.573337,-70.883400,1.420600e+10,45392540.0,"['Viral sinusitis (disorder)', 'Viral sinusiti..."
1168,6d048a56-edb8-4f29-891d-7a84d75a8e78,1914-09-05,2006-05-26,999-60-2184,S99940416,X26292359X,Ms.,Kimber624,Volkman526,NaN,...,583 Price Rue,Norwood,Massachusetts,Norfolk County,NaN,42.211364,-71.213621,2.262784e+10,759672980.0,"['Miscarriage in first trimester', 'Body mass ..."
1169,fca3178e-fb68-41c3-8598-702d3ca68b96,1914-09-05,1990-03-17,999-48-3257,S99949673,X25242364X,Mrs.,Shira43,Bruen238,NaN,...,537 Boehm Course,Norwood,Massachusetts,Norfolk County,2062.0,42.167146,-71.235461,1.994959e+10,190776500.0,"['Miscarriage in first trimester', 'Body mass ..."
1170,fc817953-cc8b-45db-9c85-7c0ced8fa90d,1914-09-05,NaN,999-72-8988,S99919344,X80016509X,Mrs.,Oneida64,Nicolas769,NaN,...,163 Schulist Crossing,Norwood,Massachusetts,Norfolk County,2090.0,42.233960,-71.245224,2.189730e+10,385201925.0,"['Miscarriage in first trimester', 'Osteoarthr..."

In [46]:
duplicated_data = pd.concat([data_pd]*1000).reset_index(drop=True)
duplicated_data

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,CONDITION_HISTORY
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,NaN,...,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,3.932793e+09,19355760.0,"['Chronic sinusitis (disorder)', 'Viral sinusi..."
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,NaN,...,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,1.151222e+10,46465105.0,['Acute bronchitis (disorder)']
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,NaN,...,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,8.324623e+09,37792800.0,"['Acute bronchitis (disorder)', 'Viral sinusit..."
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,NaN,...,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,1.356664e+10,126964755.0,"['Viral sinusitis (disorder)', 'Acute viral ph..."
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,8.682065e+09,54696900.0,"['Acute viral pharyngitis (disorder)', 'Acute ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170995,023a7d29-32b3-4db5-89c8-b88bd7582ec0,1922-02-14,NaN,999-60-9291,S99949872,X45944669X,Mrs.,Conchita9,Peres371,NaN,...,365 Gorczany Crossing Apt 64,Cambridge,Massachusetts,Middlesex County,2141.0,42.413390,-71.102083,2.352357e+10,465251495.0,"['Prediabetes', 'Anemia (disorder)', 'Hyperlip..."
1170996,1fc8dafd-90e5-44d6-9179-81156c0ea083,1977-08-08,NaN,999-29-3501,S99999143,X43299813X,Mr.,Laverne101,Hane680,NaN,...,177 Volkman Heights Suite 94,Beverly,Massachusetts,Essex County,1915.0,42.573337,-70.883400,1.420600e+10,45392540.0,"['Viral sinusitis (disorder)', 'Viral sinusiti..."
1170997,6d048a56-edb8-4f29-891d-7a84d75a8e78,1914-09-05,2006-05-26,999-60-2184,S99940416,X26292359X,Ms.,Kimber624,Volkman526,NaN,...,583 Price Rue,Norwood,Massachusetts,Norfolk County,NaN,42.211364,-71.213621,2.262784e+10,759672980.0,"['Miscarriage in first trimester', 'Body mass ..."
1170998,fca3178e-fb68-41c3-8598-702d3ca68b96,1914-09-05,1990-03-17,999-48-3257,S99949673,X25242364X,Mrs.,Shira43,Bruen238,NaN,...,537 Boehm Course,Norwood,Massachusetts,Norfolk County,2062.0,42.167146,-71.235461,1.994959e+10,190776500.0,"['Miscarriage in first trimester', 'Body mass ..."
1170999,fc817953-cc8b-45db-9c85-7c0ced8fa90d,1914-09-05,NaN,999-72-8988,S99919344,X80016509X,Mrs.,Oneida64,Nicolas769,NaN,...,163 Schulist Crossing,Norwood,Massachusetts,Norfolk County,2090.0,42.233960,-71.245224,2.189730e+10,385201925.0,"['Miscarriage in first trimester', 'Osteoarthr..."

In [47]:
duplicated_data.to_csv(r'Dataset/dup_patients_preprocessing.csv', index = False, header = True,index_label=None)

In [48]:
data_panda = pd.read_csv('Dataset/dup_patients_preprocessing.csv')
data_panda

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,CONDITION_HISTORY
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,NaN,...,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,3.932793e+09,19355760.0,"['Chronic sinusitis (disorder)', 'Viral sinusi..."
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,NaN,...,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,1.151222e+10,46465105.0,['Acute bronchitis (disorder)']
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,NaN,...,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,8.324623e+09,37792800.0,"['Acute bronchitis (disorder)', 'Viral sinusit..."
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,NaN,...,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,1.356664e+10,126964755.0,"['Viral sinusitis (disorder)', 'Acute viral ph..."
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,8.682065e+09,54696900.0,"['Acute viral pharyngitis (disorder)', 'Acute ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170995,023a7d29-32b3-4db5-89c8-b88bd7582ec0,1922-02-14,NaN,999-60-9291,S99949872,X45944669X,Mrs.,Conchita9,Peres371,NaN,...,365 Gorczany Crossing Apt 64,Cambridge,Massachusetts,Middlesex County,2141.0,42.413390,-71.102083,2.352357e+10,465251495.0,"['Prediabetes', 'Anemia (disorder)', 'Hyperlip..."
1170996,1fc8dafd-90e5-44d6-9179-81156c0ea083,1977-08-08,NaN,999-29-3501,S99999143,X43299813X,Mr.,Laverne101,Hane680,NaN,...,177 Volkman Heights Suite 94,Beverly,Massachusetts,Essex County,1915.0,42.573337,-70.883400,1.420600e+10,45392540.0,"['Viral sinusitis (disorder)', 'Viral sinusiti..."
1170997,6d048a56-edb8-4f29-891d-7a84d75a8e78,1914-09-05,2006-05-26,999-60-2184,S99940416,X26292359X,Ms.,Kimber624,Volkman526,NaN,...,583 Price Rue,Norwood,Massachusetts,Norfolk County,NaN,42.211364,-71.213621,2.262784e+10,759672980.0,"['Miscarriage in first trimester', 'Body mass ..."
1170998,fca3178e-fb68-41c3-8598-702d3ca68b96,1914-09-05,1990-03-17,999-48-3257,S99949673,X25242364X,Mrs.,Shira43,Bruen238,NaN,...,537 Boehm Course,Norwood,Massachusetts,Norfolk County,2062.0,42.167146,-71.235461,1.994959e+10,190776500.0,"['Miscarriage in first trimester', 'Body mass ..."
1170999,fc817953-cc8b-45db-9c85-7c0ced8fa90d,1914-09-05,NaN,999-72-8988,S99919344,X80016509X,Mrs.,Oneida64,Nicolas769,NaN,...,163 Schulist Crossing,Norwood,Massachusetts,Norfolk County,2090.0,42.233960,-71.245224,2.189730e+10,385201925.0,"['Miscarriage in first trimester', 'Osteoarthr..."

In [49]:
data_spark = spark.read.csv('Dataset/dup_patients_preprocessing.csv', inferSchema = True, header = True)
data_spark.createOrReplaceTempView("table1")
data_spark.show()

+--------------------+----------+---------+-----------+---------+----------+------+---------------+--------------+------+-------------+-------+-----+-----------+------+--------------------+--------------------+-----------+-------------+----------------+------+------------------+------------------+-------------------+--------------------+--------------------+
|                  Id| BIRTHDATE|DEATHDATE|        SSN|  DRIVERS|  PASSPORT|PREFIX|          FIRST|          LAST|SUFFIX|       MAIDEN|MARITAL| RACE|  ETHNICITY|GENDER|          BIRTHPLACE|             ADDRESS|       CITY|        STATE|          COUNTY|   ZIP|               LAT|               LON|HEALTHCARE_EXPENSES| HEALTHCARE_COVERAGE|   CONDITION_HISTORY|
+--------------------+----------+---------+-----------+---------+----------+------+---------------+--------------+------+-------------+-------+-----+-----------+------+--------------------+--------------------+-----------+-------------+----------------+------+------------------+------------------+-------------------+--------------------+--------------------+
|1d604da9-9a81-4ba...|1989-05-25|     null|999-76-6866|S99984236|X19277260X|   Mr.|José Eduardo181|      Gómez206|  null|         null|      M|white|   hispanic|     M|Marigot  Saint An...|427 Balistreri Wa...|   Chicopee|Massachusetts|  Hampden County|1013.0| 42.22835382315942|-72.56295055096882|       3.93279266E9|          1.935576E7|['Chronic sinusit...|
|034e9e3b-2def-455...|1983-11-14|     null|999-73-5361|S99962402|X88275464X|   Mr.|        Milo271|       Feil794|  null|         null|      M|white|nonhispanic|     M|Danvers  Massachu...|422 Farrell Path ...| Somerville|Massachusetts|Middlesex County|2143.0| 42.36069732777065|-71.12653095133149|    1.1512217145E10|         4.6465105E7|['Acute bronchiti...|
|10339b10-3cd1-4ac...|1992-06-02|     null|999-27-3385|S99972682|X73754411X|   Mr.|      Jayson808|      Fadel536|  null|         null|      M|white|nonhispanic|     M|Springfield  Mass...|1056 Harris Lane ...|   Chicopee|Massachusetts|  Hampden County|1020.0|42.181642300277424|-72.60884222581657|       8.32462255E9|           3.77928E7|['Acute bronchiti...|
|8d4c4326-e9de-4f4...|1978-05-27|     null|999-85-4926|S99974448|X40915583X|  Mrs.|     Mariana775| Rutherford999|  null|Williamson769|      M|white|nonhispanic|     F|Yarmouth  Massach...|      999 Kuhn Forge|     Lowell|Massachusetts|Middlesex County|1851.0| 42.63614335069588| -71.3432549217789|     1.356663935E10|        1.26964755E8|['Viral sinusitis...|
|f5dcd418-09fe-4a2...|1996-10-18|     null|999-60-7372|S99915787|X86772962X|   Mr.|    Gregorio366|        Auer97|  null|         null|   null|white|nonhispanic|     M|  Patras  Achaea  GR|1050 Lindgren Ext...|     Boston|Massachusetts|  Suffolk County|2135.0| 42.35243426303177|-71.02861042115062|      8.682064515E9|           5.46969E7|['Acute viral pha...|
|72c0b9ce-7aa4-430...|2017-07-27|     null|999-68-6630|     null|      null|  null|     Jacinto644|       Kris249|  null|         null|   null|white|nonhispanic|     M|Beverly  Massachu...|888 Hickle Ferry ...|Springfield|Massachusetts|  Hampden County|1106.0|42.151961474963535|-72.59895940376188|        1.2642057E8|          2.173666E7|['Sprain of wrist...|
|b1e9b0b9-da6e-4f6...|2003-12-13|     null|999-73-2461|S99954048|      null|  null|       Jimmie93|     Harris789|  null|         null|   null|white|nonhispanic|     F|Worcester  Massac...|201 Mitchell Lodg...|   Pembroke|Massachusetts| Plymouth County|  null| 42.07529152717956|-70.75703466334431|       5.76444803E9|          4.485024E7|['Acute bacterial...|
|01207ecd-9dff-475...|2019-05-15|     null|999-81-4349|     null|      null|  null|       Karyn217|    Mueller846|  null|         null|   null|white|nonhispanic|     F|New Bedford  Mass...|570 Abshire Forge...|    Colrain|Massachusetts| Franklin County|  null|42.740219982868055|-72.72264767557297|            3.828E8|1.1236919999999998E7|                  []|
|b58731cc-2d8b-4c2...|1970-05-16|     null|999-90-2484|S99978036|X78170348X|  Mrs.|      Isabel214|      Lucio648|  null|  Carvajal694|      M|white|   hispanic|     F|Santiago  Santiag...|335 Morar Highlan...| Fall River|Massachusetts|  Bristol County|2720.0| 41.68768444527544| -71.0557687821624|     1.431599558E10|2.0540714499999997E8|['Body mass index...|
|cfee79fc-df05-476...|2016-07-04|     null|999-15-5895|     null|      null|  null|        Alva958|    Krajcik437|  null|         null|   null|white|nonhispanic|     F|Boston  Massachus...| 1048 Skiles Trailer|    Walpole|Massachusetts|  Norfolk County|2081.0|42.177370220648726|-71.28135315860652|       1.16225272E9|          2.318666E7|['Acute viral pha...|
|ad2e9916-4979-40f...|2004-12-19|     null|999-78-4480|     null|      null|  null|     Jeffrey461|Greenfelder433|  null|         null|   null|white|nonhispanic|     M|Plymouth  Massach...|428 Wiza Glen Uni...|Springfield|Massachusetts|  Hampden County|1104.0| 42.10492711186789|-72.59101060950445|       4.59888931E9|          4.083896E7|['Acute bronchiti...|
|bfb6537b-535a-4f3...|1991-07-03|     null|999-74-9712|S99913545|X65838399X|  Mrs.|       Karyn217|       Jast432|  null|  Reynolds644|      M|white|nonhispanic|     F|Belmont  Massachu...|181 Feest Passage...|   Medfield|Massachusetts|  Norfolk County|2052.0| 42.13871939383503|-71.29725536274758|     1.016332782E10| 8.985533999999999E7|['Sinusitis (diso...|
|83719bd7-7a41-4c8...|1989-06-07|     null|999-24-1237|S99993444|X19938368X|  Mrs.|       Leann224|      Larson43|  null| Jaskolski867|      M|white|nonhispanic|     F|Fall River  Massa...|118 Bailey Orchar...|    Needham|Massachusetts|  Norfolk County|  null| 42.32074744363048|-71.23282934575425|    1.0245882555E10|          1.250567E8|['Hypertension', ...|
|76982e06-f8b8-450...|1982-09-01|     null|999-21-5604|S99957470|X55072337X|   Ms.|    Christal240|       Brown30|  null|         null|      S|white|nonhispanic|     F|Bellingham  Massa...|1060 Hansen Overp...|     Boston|Massachusetts|  Suffolk County|2118.0|42.284598473357775|-71.13449674876126|    1.1302232205E10|1.6985024499999997E8|['Acute viral pha...|
|2ffe9369-24e4-414...|1958-07-01|     null|999-76-2715|S99927965|X70120330X|  Mrs.|       Amada498|   Reichert620|  null|    Spinka232|      M|white|nonhispanic|     F|Watertown  Massac...| 970 Grant Highlands| Foxborough|Massachusetts|  Norfolk County|  null| 42.07894173393037|-71.22544168501237|    1.9836253605E10|        2.31417825E8|['Hypertension', ...|
|e4f1bd35-93ae-418...|1957-02-25|     null|999-66-4231|S99983425| X1708221X|   Ms.|        Raye931|     Wunsch504|  null|         null|      S|white|nonhispanic|     F|Arlington  Massac...|585 Greenfelder Camp|     Quincy|Massachusetts|  Norfolk County|2169.0|42.266511451175816|-70.95648012153919|    2.2491319895E10|         1.6795988E8|['Chronic sinusit...|
|86b97fc7-ae8f-4e0...|1959-05-26|     null|999-59-1261|S99917383|X23685647X|  Mrs.|      Anissa357|    Wuckert783|  null|     Ebert178|      M|white|nonhispanic|     F|Pembroke  Massach...|661 Schulist High...|    Waltham|Massachusetts|Middlesex County|2452.0| 42.42591517440363|-71.28867283165437|    2.0132830515E10|        3.00728985E8|['Hypertension', ...|
|1c591f0d-95b1-428...|1954-04-04|     null|999-88-9161|S99916076|X45594159X|   Mr.|      Edmund685|     Walker122|  null|         null|      M|white|nonhispanic|     M|Dedham  Massachus...|     383 Crooks Camp|    Norwell|Massachusetts| Plymouth County|  null|  42.1922447262567|-70.83915436161415|     2.048553968E10|          8.040656E7|['Chronic sinusit...|
|f1678bde-4814-4d7...|1958-04-11|     null|999-49-5916|S99927174|X60264115X|  Mrs.|       Danae973|  Bartoletti50|  null| Gleichner915|      M|white|nonhispanic|     F|Holyoke  Massachu...|1062 Conn Well Su...| Framingham|Massachusetts|Middlesex County|1702.0| 42.30967844045964|-71.42307309211299|    1.9277263525E10|         2.4768639E8|['Hypertension', ...|
|aac107d8-5187-420...|1983-09-02|     null|999-57-9112|S99979946|X70531895X|  Mrs.|      Lisbeth69|       Hand679|  null|    Durgan499|      M|white|nonhispanic|     F|Agawam  Massachus...|      290 Hyatt Lane|     Malden|Massachusetts|Middlesex County|2155.0| 42.41495500202392| -71.0670663224216|     1.237712054E10|         1.0533815E8|['Hypertension', ...|
+--------------------+----------+---------+-----------+---------+----------+------+---------------+--------------+------+-------------+-------+-----+-----------+------+--------------------+--------------------+-----------+-------------+----------------+------+------------------+------------------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [65]:
#Melakukan manipulasi data menggunakan pandas
%%time

for i in range(10):
    data_panda['CONDITION_HISTORY_TEMP'] = data_panda.CONDITION_HISTORY.replace(str(i), "")
    data_panda['count_'+str(i)] = data_panda.CONDITION_HISTORY.str.len() - data_panda.CONDITION_HISTORY_TEMP.str.len()

CPU times: user 13.3 s, sys: 240 ms, total: 13.6 s
Wall time: 15.3 s

In [66]:
data_panda

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,count_0,count_1,count_2,count_3,count_4,count_5,count_6,count_7,count_8,count_9
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,NaN,...,0,0,0,0,0,0,0,0,0,0
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,NaN,...,0,0,0,0,0,0,0,0,0,0
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,NaN,...,0,0,0,0,0,0,0,0,0,0
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,NaN,...,0,0,0,0,0,0,0,0,0,0
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170995,023a7d29-32b3-4db5-89c8-b88bd7582ec0,1922-02-14,NaN,999-60-9291,S99949872,X45944669X,Mrs.,Conchita9,Peres371,NaN,...,0,0,0,0,0,0,0,0,0,0
1170996,1fc8dafd-90e5-44d6-9179-81156c0ea083,1977-08-08,NaN,999-29-3501,S99999143,X43299813X,Mr.,Laverne101,Hane680,NaN,...,0,0,0,0,0,0,0,0,0,0
1170997,6d048a56-edb8-4f29-891d-7a84d75a8e78,1914-09-05,2006-05-26,999-60-2184,S99940416,X26292359X,Ms.,Kimber624,Volkman526,NaN,...,0,0,0,0,0,0,0,0,0,0
1170998,fca3178e-fb68-41c3-8598-702d3ca68b96,1914-09-05,1990-03-17,999-48-3257,S99949673,X25242364X,Mrs.,Shira43,Bruen238,NaN,...,0,0,0,0,0,0,0,0,0,0
1170999,fc817953-cc8b-45db-9c85-7c0ced8fa90d,1914-09-05,NaN,999-72-8988,S99919344,X80016509X,Mrs.,Oneida64,Nicolas769,NaN,...,0,0,0,0,0,0,0,0,0,0

In [64]:
#Melakukan manipulasi data menggunakan spark sql
%%time

for i in range(10):
    data_spark = data_spark.withColumn('CONDITION_HISTORY_TEMP', Func.regexp_replace('CONDITION_HISTORY',str(i),""))
    data_spark = data_spark.withColumn('count_'+str(i), Func.length("CONDITION_HISTORY") - Func.length("CONDITION_HISTORY_TEMP"))

data_spark.show()

+--------------------+----------+---------+-----------+---------+----------+------+---------------+--------------+------+-------------+-------+-----+-----------+------+--------------------+--------------------+-----------+-------------+----------------+------+------------------+------------------+-------------------+--------------------+--------------------+----------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|                  Id| BIRTHDATE|DEATHDATE|        SSN|  DRIVERS|  PASSPORT|PREFIX|          FIRST|          LAST|SUFFIX|       MAIDEN|MARITAL| RACE|  ETHNICITY|GENDER|          BIRTHPLACE|             ADDRESS|       CITY|        STATE|          COUNTY|   ZIP|               LAT|               LON|HEALTHCARE_EXPENSES| HEALTHCARE_COVERAGE|   CONDITION_HISTORY|CONDITION_HISTORY_TEMP|count_0|count_1|count_2|count_3|count_4|count_5|count_6|count_7|count_8|count_9|
+--------------------+----------+---------+-----------+---------+----------+------+---------------+--------------+------+-------------+-------+-----+-----------+------+--------------------+--------------------+-----------+-------------+----------------+------+------------------+------------------+-------------------+--------------------+--------------------+----------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|1d604da9-9a81-4ba...|1989-05-25|     null|999-76-6866|S99984236|X19277260X|   Mr.|José Eduardo181|      Gómez206|  null|         null|      M|white|   hispanic|     M|Marigot  Saint An...|427 Balistreri Wa...|   Chicopee|Massachusetts|  Hampden County|1013.0| 42.22835382315942|-72.56295055096882|       3.93279266E9|          1.935576E7|['Chronic sinusit...|  ['Chronic sinusit...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|034e9e3b-2def-455...|1983-11-14|     null|999-73-5361|S99962402|X88275464X|   Mr.|        Milo271|       Feil794|  null|         null|      M|white|nonhispanic|     M|Danvers  Massachu...|422 Farrell Path ...| Somerville|Massachusetts|Middlesex County|2143.0| 42.36069732777065|-71.12653095133149|    1.1512217145E10|         4.6465105E7|['Acute bronchiti...|  ['Acute bronchiti...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|10339b10-3cd1-4ac...|1992-06-02|     null|999-27-3385|S99972682|X73754411X|   Mr.|      Jayson808|      Fadel536|  null|         null|      M|white|nonhispanic|     M|Springfield  Mass...|1056 Harris Lane ...|   Chicopee|Massachusetts|  Hampden County|1020.0|42.181642300277424|-72.60884222581657|       8.32462255E9|           3.77928E7|['Acute bronchiti...|  ['Acute bronchiti...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|8d4c4326-e9de-4f4...|1978-05-27|     null|999-85-4926|S99974448|X40915583X|  Mrs.|     Mariana775| Rutherford999|  null|Williamson769|      M|white|nonhispanic|     F|Yarmouth  Massach...|      999 Kuhn Forge|     Lowell|Massachusetts|Middlesex County|1851.0| 42.63614335069588| -71.3432549217789|     1.356663935E10|        1.26964755E8|['Viral sinusitis...|  ['Viral sinusitis...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|f5dcd418-09fe-4a2...|1996-10-18|     null|999-60-7372|S99915787|X86772962X|   Mr.|    Gregorio366|        Auer97|  null|         null|   null|white|nonhispanic|     M|  Patras  Achaea  GR|1050 Lindgren Ext...|     Boston|Massachusetts|  Suffolk County|2135.0| 42.35243426303177|-71.02861042115062|      8.682064515E9|           5.46969E7|['Acute viral pha...|  ['Acute viral pha...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|72c0b9ce-7aa4-430...|2017-07-27|     null|999-68-6630|     null|      null|  null|     Jacinto644|       Kris249|  null|         null|   null|white|nonhispanic|     M|Beverly  Massachu...|888 Hickle Ferry ...|Springfield|Massachusetts|  Hampden County|1106.0|42.151961474963535|-72.59895940376188|        1.2642057E8|          2.173666E7|['Sprain of wrist...|  ['Sprain of wrist...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|b1e9b0b9-da6e-4f6...|2003-12-13|     null|999-73-2461|S99954048|      null|  null|       Jimmie93|     Harris789|  null|         null|   null|white|nonhispanic|     F|Worcester  Massac...|201 Mitchell Lodg...|   Pembroke|Massachusetts| Plymouth County|  null| 42.07529152717956|-70.75703466334431|       5.76444803E9|          4.485024E7|['Acute bacterial...|  ['Acute bacterial...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|01207ecd-9dff-475...|2019-05-15|     null|999-81-4349|     null|      null|  null|       Karyn217|    Mueller846|  null|         null|   null|white|nonhispanic|     F|New Bedford  Mass...|570 Abshire Forge...|    Colrain|Massachusetts| Franklin County|  null|42.740219982868055|-72.72264767557297|            3.828E8|1.1236919999999998E7|                  []|                    []|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|b58731cc-2d8b-4c2...|1970-05-16|     null|999-90-2484|S99978036|X78170348X|  Mrs.|      Isabel214|      Lucio648|  null|  Carvajal694|      M|white|   hispanic|     F|Santiago  Santiag...|335 Morar Highlan...| Fall River|Massachusetts|  Bristol County|2720.0| 41.68768444527544| -71.0557687821624|     1.431599558E10|2.0540714499999997E8|['Body mass index...|  ['Body mass index...|      1|      0|      0|      1|      0|      0|      0|      0|      0|      0|
|cfee79fc-df05-476...|2016-07-04|     null|999-15-5895|     null|      null|  null|        Alva958|    Krajcik437|  null|         null|   null|white|nonhispanic|     F|Boston  Massachus...| 1048 Skiles Trailer|    Walpole|Massachusetts|  Norfolk County|2081.0|42.177370220648726|-71.28135315860652|       1.16225272E9|          2.318666E7|['Acute viral pha...|  ['Acute viral pha...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|ad2e9916-4979-40f...|2004-12-19|     null|999-78-4480|     null|      null|  null|     Jeffrey461|Greenfelder433|  null|         null|   null|white|nonhispanic|     M|Plymouth  Massach...|428 Wiza Glen Uni...|Springfield|Massachusetts|  Hampden County|1104.0| 42.10492711186789|-72.59101060950445|       4.59888931E9|          4.083896E7|['Acute bronchiti...|  ['Acute bronchiti...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|bfb6537b-535a-4f3...|1991-07-03|     null|999-74-9712|S99913545|X65838399X|  Mrs.|       Karyn217|       Jast432|  null|  Reynolds644|      M|white|nonhispanic|     F|Belmont  Massachu...|181 Feest Passage...|   Medfield|Massachusetts|  Norfolk County|2052.0| 42.13871939383503|-71.29725536274758|     1.016332782E10| 8.985533999999999E7|['Sinusitis (diso...|  ['Sinusitis (diso...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|83719bd7-7a41-4c8...|1989-06-07|     null|999-24-1237|S99993444|X19938368X|  Mrs.|       Leann224|      Larson43|  null| Jaskolski867|      M|white|nonhispanic|     F|Fall River  Massa...|118 Bailey Orchar...|    Needham|Massachusetts|  Norfolk County|  null| 42.32074744363048|-71.23282934575425|    1.0245882555E10|          1.250567E8|['Hypertension', ...|  ['Hypertension', ...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|76982e06-f8b8-450...|1982-09-01|     null|999-21-5604|S99957470|X55072337X|   Ms.|    Christal240|       Brown30|  null|         null|      S|white|nonhispanic|     F|Bellingham  Massa...|1060 Hansen Overp...|     Boston|Massachusetts|  Suffolk County|2118.0|42.284598473357775|-71.13449674876126|    1.1302232205E10|1.6985024499999997E8|['Acute viral pha...|  ['Acute viral pha...|      1|      0|      0|      1|      0|      0|      0|      0|      0|      0|
|2ffe9369-24e4-414...|1958-07-01|     null|999-76-2715|S99927965|X70120330X|  Mrs.|       Amada498|   Reichert620|  null|    Spinka232|      M|white|nonhispanic|     F|Watertown  Massac...| 970 Grant Highlands| Foxborough|Massachusetts|  Norfolk County|  null| 42.07894173393037|-71.22544168501237|    1.9836253605E10|        2.31417825E8|['Hypertension', ...|  ['Hypertension', ...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|e4f1bd35-93ae-418...|1957-02-25|     null|999-66-4231|S99983425| X1708221X|   Ms.|        Raye931|     Wunsch504|  null|         null|      S|white|nonhispanic|     F|Arlington  Massac...|585 Greenfelder Camp|     Quincy|Massachusetts|  Norfolk County|2169.0|42.266511451175816|-70.95648012153919|    2.2491319895E10|         1.6795988E8|['Chronic sinusit...|  ['Chronic sinusit...|      1|      0|      0|      1|      0|      0|      0|      0|      0|      0|
|86b97fc7-ae8f-4e0...|1959-05-26|     null|999-59-1261|S99917383|X23685647X|  Mrs.|      Anissa357|    Wuckert783|  null|     Ebert178|      M|white|nonhispanic|     F|Pembroke  Massach...|661 Schulist High...|    Waltham|Massachusetts|Middlesex County|2452.0| 42.42591517440363|-71.28867283165437|    2.0132830515E10|        3.00728985E8|['Hypertension', ...|  ['Hypertension', ...|      1|      0|      0|      1|      0|      0|      0|      0|      0|      0|
|1c591f0d-95b1-428...|1954-04-04|     null|999-88-9161|S99916076|X45594159X|   Mr.|      Edmund685|     Walker122|  null|         null|      M|white|nonhispanic|     M|Dedham  Massachus...|     383 Crooks Camp|    Norwell|Massachusetts| Plymouth County|  null|  42.1922447262567|-70.83915436161415|     2.048553968E10|          8.040656E7|['Chronic sinusit...|  ['Chronic sinusit...|      1|      0|      0|      1|      0|      0|      0|      0|      0|      0|
|f1678bde-4814-4d7...|1958-04-11|     null|999-49-5916|S99927174|X60264115X|  Mrs.|       Danae973|  Bartoletti50|  null| Gleichner915|      M|white|nonhispanic|     F|Holyoke  Massachu...|1062 Conn Well Su...| Framingham|Massachusetts|Middlesex County|1702.0| 42.30967844045964|-71.42307309211299|    1.9277263525E10|         2.4768639E8|['Hypertension', ...|  ['Hypertension', ...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
|aac107d8-5187-420...|1983-09-02|     null|999-57-9112|S99979946|X70531895X|  Mrs.|      Lisbeth69|       Hand679|  null|    Durgan499|      M|white|nonhispanic|     F|Agawam  Massachus...|      290 Hyatt Lane|     Malden|Massachusetts|Middlesex County|2155.0| 42.41495500202392| -71.0670663224216|     1.237712054E10|         1.0533815E8|['Hypertension', ...|  ['Hypertension', ...|      0|      0|      0|      0|      0|      0|      0|      0|      0|      0|
+--------------------+----------+---------+-----------+---------+----------+------+---------------+--------------+------+-------------+-------+-----+-----------+------+--------------------+--------------------+-----------+-------------+----------------+------+------------------+------------------+-------------------+--------------------+--------------------+----------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
only showing top 20 rows

CPU times: user 38.2 ms, sys: 10 ms, total: 48.2 ms
Wall time: 1.23 s

Terbukti bahwa penggunaan pyspark dalam hal manipulasi data lebih cepat dari pada menggunakan pandas ketika diberi data yang banyak